ul {
    list-style-type: none;
    padding: 0;
}

.visually-hidden {
    position:absolute;
    top:0;
    left:0;
    width: 1px;
    height: 1px;
    clip:rect(0,0,0,0);
    display: none;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* .preload::after {
    content: url('img/background-left-active.jpg');
    display:none;
} */
.wrapper {
    position: relative;
}
.wrapper > * {
    position: absolute;
    top:0;
    left:0;
}

.nav-list {
    display: flex;


    width: 1200px;
    height: 730px;

    background-image: url(img/background.jpg);
    background-position: -10px -10px;
    background-repeat: no-repeat;

    -webkit-transform: translate3d(0, 0, 0);
     
    transition: background-image 0.1s ease-in-out;
    transition-timing-function: ease-in-out;
    transition-delay: 0.1s;

    /* transition: background-image, 0.5s; */


}

.nav-list__item {
    height: 100%;
    width: 50%;
}

.nav-list__link {
    display: block;

    width: 100%;
    height: 100%;

    text-decoration: none;
    color: black;

    
}
